p {
    margin-top: -50px;
    font-weight: bold;
    width: 400px;
    margin-left: 600px;
    margin-top: 10px
}

.img-responsive {
    width: 300px;
    margin-left: 100px;
    height: 200
}

h3 {
    color: red;
    margin-left: 600px;
    margin-top: -270px;

}

hr {
    width: 400px;
    color: black;
    margin-left: 70
}

.Vision {}



.Message {}

.text-capitalize {
    margin-left: -1px;
    margin-top: -20px;
}

.Principal {
    color: red;
}

iframe {
    width: 500px;
    height: 400px;
    margin-top: -200px;
    margin-left: 50px;

}

.Video {
    margin-top:
}

.Map
}

.CampusLifeLabel {
    margin-left: 50px;
}

#Campus {
    margin-left: 50px;
}

.LibraryImage {}

.SchoolLibrary {
    margin-left: 170px;
    margin-top: 10px;
}

h5 {
    margin-left: 100px;
}

.text-success {
    margin-left: 170px;
    margin-top: 10px;
}

.text-muted {
    margin-left: 70px;
}

.CafeImage {
    margin-left: 500px;
    margin-top: -360px;
    width: 300px;

}

.SchoolCafe {
    margin-left: 660px;
    margin-top: -150
}

.CafeStuff {
    margin-left: 630px;
    color: green;
    margin-top: -35px;
    width: 320px;
    height: 200px;

}

.CafePar {
    margin-left: 470px;

}

.CafePare {
    color: gray;
    margin-left: 500px;
    margin-top: -200px;
    padding-top: 6px
}

.CafeStuffImage {
    margin-left: 560px;
    margin-top: -370px;
    width: 330px;
    height: 200px
}

.PE-PIC {
    margin-left: 90px;

    width: 350px;
    height: 200px;
}

.SchoolPE {
    margin-left: 210px;
    margin-top: 20px;
}

.July {
    margin-left: 180px;
    margin-top: =0px;
    color: green;
}

.glyphicon {
    width:
}

.col-lg-3 {}

.Title {
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.Ex {
    margin-left: -10px;
}

.TitlePar {
    margin-left: 1
}

.travel_mainDiv {
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none
}

.travel_mainDiv img {
    width: 100%;
}

.travel_mainDiv hr {
    width: 230px;
}

.travel_mainDiv h5,
.travel_mainDiv p {
    margin-left: 20px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: #ff7700;
}

.environment_li {
    margin-top: 20px;
}

h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}

.i {}

.im {}

.img-responsive {}

.img-reponsive {
    border-radius: 18px;
}

.list-group-item-text {
    margin-top: ;
    margin-left: -10px
}

.MyName {}

.tile {}

.AllenPark {
    margin-left: 30px;
    padding-bottom: 20
}

.img- {}

.desk-Pic {
    margin-left: -10
}

.img-thumbnail {
    margin-left: 30px;
    width: 500px;
    height: 250px
}

.text-left {}

.NewBooks {
    margin-left: 20px
}

.NewBooksPara {}

h2 {}

.GracePic {
    width:250px;
    margin-left:50px;
}

.text-primary {
    margin-left:115
}

.p_modal {
    margin-left:-1
}


